version: "3.9"
name: aberturas-campanhas-stack

networks:
  ativaai:
    external: true

services:
 backend-aberturas:
  build: ./backend
  container_name: backend-aberturas
  restart: unless-stopped
  networks:
    - ativaai
  ports:
    - "3000:3000"

frontend-aberturas:
  build: ./frontend
  container_name: frontend-aberturas
  restart: unless-stopped
  networks:
    - ativaai
  ports:
    - "4173:4173"

